@use "../abstracts" as *;
.footer {
  &__container {
    min-height: px-to-rem(600);
    background-color: $blue;
    position: relative;
    padding: 2rem 1rem;
    @include flex($align: center, $justify: center, $direction: column);
  }
  &__wrapper {
    min-height: px-to-rem(600);
    width: 88%;
    // border: 4px solid red;
    @include flex($direction: column, $align: center, $justify: flex-start);
  }
  .newsletter {
    background-color: $footer-divider;
    padding: 1.5rem;
    border-radius: 24px;
    width: 100%;
    @include flex($justify: space-between);
  }
  .newsletter_left {
    @include flex($direction: column);
    color: $white;
    .title {
      font-family: $primary-font;
      font-weight: 700;
      font-size: 1.8rem;
    }
    .explain {
      font-family: $primary-font;

      font-size: 1.2rem;
    }
  }
  .newsletter_right {
    @include flex($align: center, $justify: space-between);
    padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    background-color: $white;
    border-radius: 60px;
    width: 37%;
    input {
      all: unset;
      color: $neutural-grey-3;
      font-family: $primary-font;
      font-size: 1.2rem;
    }
    button {
      background-color: $blue;
      color: $white;
      font-family: $primary-font;
      font-weight: 700;
      text-align: center;
      font-size: 1.2rem;
      border-radius: 60px;
      padding: 0.93rem 2.1rem;

      border: none;
    }
  }
  &__last {
    min-height: px-to-rem(30);
    padding: 1.5rem;
    text-align: center;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 100;
    color: $white;
    border-top: 1px solid $footer-divider;
    background: $blue;
  }
}
