@use '../abtracts/' as *;
.header{
    background-color: $primaryColor;
    padding: 20px 0;
    position : sticky;
    z-index: 100;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        display: flex;
        align-items: center;
    }
    &__nav{
        ul{
            display: flex;
            gap: 30px;
            li a{
                color: $white;
                &:hover{
                    color: $accent-color;
                }
            }
        }
    }
    @include responsive($tablet){
        display: none;
    }
    &__service_hours{
        display: flex;
        align-items: center;
        color: $white;
        .service-icon{
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: rgb(243, 19, 19);
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}
