@use "../abstracts" as *;
.fast {
  &__container {
    min-height: px-to-rem(800);
    background-color: $white;
    position: relative;
    padding: 4rem;
    @include xmobile {
      padding: 2.8rem;
    }
  }
  &__modern {
    width: 100%;
    background-color: $primary-color;
    position: relative;
    border-radius: 24px;
    padding: 2rem 0;
    @include xmobile {
      padding: 1rem 0;
    }
  }
  &__vertical {
    top: 50%;
    position: absolute;
    height: 70%;
    width: 2rem;
    transform: translateY(-50%);
    background-color: $white;
    @include xmobile {
      display: none;
    }
    &__left {
      left: 0;
      clip-path: polygon(0 0, 100% 6%, 100% 95%, 0 100%);
    }
    &__right {
      right: 0;
      clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 95%);
    }
  }
  &__content {
    width: 86%;
    padding: 2rem;
    gap: 2rem;
    margin: 0 auto;
    @include flex($direction: column);
    .title {
      all: unset;
      @include flex();
      @include xmobile {
        @include flex($direction: column);
      }
      @include xtablet {
        @include flex($direction: column);
      }
      .left {
        all: unset;
        font-family: $primary-font;
        color: $white;
        font-size: 3rem;
        font-weight: 700;

        @include xdesktop {
          width: 50%;
          padding-right: 7rem;
        }
        @include xtablet {
          font-size: 2.5rem;
          text-align: center;
        }
        @include xmobile {
          font-size: 1.5rem;
          text-align: center;
        }
      }
      .right {
        all: unset;
        width: 50%;
        padding-top: 4rem;

        font-family: $primary-font;
        color: $neutural-grey-3;

        @include xdesktop {
          padding-right: 6rem;
          padding-left: 11rem;
        }
        @include xmobile {
          width: 100%;
          padding: 1rem;
        }
        @include xtablet {
          width: 100%;
          padding: 1rem;
          text-align: center;
        }
      }
    }
    .horizontal_line {
      all: unset;
      @include flex();
      background: linear-gradient(
        to right,
        $primary-color,
        $blue-border,
        $primary-color
      );
      height: 0.05rem;
      width: 100%;
      @include xmobile {
        display: none;
      }
      @include xtablet {
        display: none;
      }
    }
  }
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: clamp(2rem, 12rem, 12rem);
    row-gap: 2rem;
    @include xmobile {
      grid-template-columns: 1fr;
    }
    @include xtablet {
      grid-template-columns: 1fr;
    }
    .feature_item {
      all: unset;
      @include flex($align: center, $gap: 2.5rem);
      padding-right: 4rem;

      @include xmobile {
        @include flex($direction: column, $align: center);
        padding: 1rem;
      }
      @include xtablet {
        @include flex($direction: column, $align: center);
        padding: 1rem;
      }
      .text {
        all: unset;
        @include flex($direction: column, $align: flex-start);
        @include xmobile {
          text-align: center;
        }
        @include xtablet {
          text-align: center;
        }

        .title {
          color: $white;
          font-family: $primary-font;
          font-size: 1.5rem;
          font-weight: 700;
          @include xmobile {
            margin: 0 auto;
          }
          @include xtablet {
            margin: 0 auto;
          }
        }
        .explain {
          color: $neutural-grey-3;
        }
      }
    }
  }
  .feature_img {
    width: 5rem;
    height: 5rem;
    @include xmobile {
      width: 4.5rem;
      height: 4.5rem;
    }
  }
}
