@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
.features-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color; // nền tổng
  padding: 30px 20px;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -40px;
  width: 85%;
  transform: translateX(100px);
  
  .feature-item {
    display: flex;
    align-items: center;
    margin: 0 20px;
    position: relative;
    
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 40px;
      background-color: $divider-color; // vạch ngăn
    }

    &__icon-wrapper {
      width: 40px;
      height: 40px;
      background-color: $icon-bg-color; // vòng tròn nền xám xanh
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }

    &__content {
      h3 {
        font-size: 1rem;
        font-weight: bold;
        color: $text-color;
        line-height: 1.2;
      }
    }
  }
}


