@use "../abstracts" as *;
.homepro {
  &__container {
    background-color: $white;
    min-height: px-to-rem(800);
    position: relative;
    padding: 2rem;
  }
  .parttern {
    min-height: px-to-rem(600);
    @include flex($align: flex-start);

    position: relative;
    margin: 0 auto;
    @include xdesktop {
      width: 90%;
    }
    @include xmobile {
      @include flex($direction: column);
    }
  }
  .container_img {
    @include flex();
    width: 45%;

    @include xtablet {
      width: 60%;
    }
    @include xmobile {
      width: 100%;
    }
  }
  .image {
    width: 100%;
    height: auto;

    position: relative;
  }
  .container_content {
    @include flex($direction: column);
    width: 65%;
    gap: 2rem;
    padding-left: 11rem;

    @include xmobile {
      width: 100%;
      padding-left: 1rem;
    }
    @include xtablet {
      padding-left: 7rem;
    }
  }
  .title {
    font-family: $primary-bold;

    color: $black;
    font-size: 2.8rem;
    @include xtablet {
      font-size: 2.5rem;
    }
    @include xmobile {
      font-size: 2rem;
    }
  }
  .content {
    @include flex($align: flex-start);
    @include xmobile {
      @include flex($direction: column);
    }
  }
  .list_function {
    @include flex();
    width: 30%;
    gap: 1rem;
    .number_list {
      font-family: $primary-font;
      color: $neutural-grey-3;
      font-size: 2.8rem;
      font-weight: 700;
    }
    .function {
      font-family: $primary-font;
      font-size: 1.5rem;
      color: $black;
      font-family: $primary-bold;
    }
    @include xtablet {
      width: 40%;
    }
    @include xmobile {
      width: 59%;
    }
  }
  .explain {
    font-family: $primary-font;
    font-weight: 400;
    color: $neutural-grey;
    width: 52%;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 0.1rem;
    @include xtablet {
      min-width: 48%;
      padding-right: 0;
    }
    @include xmobile {
      width: 100%;

      padding-left: 0;
      font-size: 1.2rem;
    }
  }
}
