@use '../abtracts/variables' as *;
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    font-family: 'Helvetica', 'Arial' ,sans-serif;
    line-height: 1.6;
    color: $white;
    background-color: $white;
}

a{
    text-decoration: none;
    color : inherit;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    line-height: 1.2;
}
h1{
    font-size: 2.5em;
}
h3{
    font-size: 1rem;
}

