@use "./variables" as *;

@mixin xdesktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin xmobile {
  @media (min-width : $mobile) and (max-width : #{$tablet - 1px}) {
    @content;
  }
}
@mixin xtablet {
  @media (min-width : $tablet) and (max-width : #{$desktop - 1px}) {
    @content;
  }
}
@mixin center() {
  justify-content: center;
  align-items: center;
}
@mixin flex(
  $direction: false,
  $justify: false,
  $align: false,
  $wrap: false,
  $gap: false
) {
  display: flex;
  @if direction {
    flex-direction: $direction;
  }
  @if justify {
    justify-content: $justify;
  }
  @if align {
    align-items: $align;
  }
  @if wrap {
    flex-wrap: $wrap;
  }
  @if gap {
    gap: $gap;
  }
}

@mixin move($display: false, $translateX: false, $translateY: false) {
  @if $display != false {
    display: $display;
  }

  $x: 0;
  $y: 0;

  @if $translateX != false {
    $x: $translateX;
  }

  @if $translateY != false {
    $y: $translateY;
  }

  @if $x != 0 or $y != 0 {
    transform: translate(#{$x}, #{$y});
  }
}
