$primary-color: #142257; // Dark blue background
$feature-color: #1f3584;
$accent-color: #25a7df; // Light blue for buttons and elements
$white: #ffffff;
$light-blue: #e6f7ff;
$gray: #f5f5f5;
$divider-color: rgba(255, 255, 255, 0.374); // màu vạch ngăn (trắng mờ)
$icon-bg-color: rgba(255, 255, 255, 0.1); // nền vòng tròn
$text-color: #ffffff;
$blue: #15b2f5;
$blue-dark: #0077cc;
$blue-border: #4e65b6;
$radius: 15px;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$light-gray: #f0f8ff;
$grey: #9ea3b5;
$neutural-grey: #545971;
$neutural-grey-3: #9ea3b5;
$black: #171921;
// Breakpoints
$mobile: 250px;
$tablet: 768px;
$desktop: 1300px;
$large-desktop: 1440px;
// font
$primary-font: PlusJakartaSansRegular;
$primary-bold: PlusJakartaSansBold;
