<section class="footer">
  <div class="footer__container">
    <div class="footer__wrapper">
      <div class="newsletter">
        <div class="newsletter_left">
          <span class="title">Stay Connected with Our Newsletter</span>
          <span class="explain"
            >Subcribe to our newsletter to get more news, promo, or news
            services</span
          >
        </div>

        <form action="" class="newsletter_right">
          <input type="email" placeholder="Enter email address" />
          <button>Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer__last">©2023 HomePro. All rights reserved</div>
</section>
