<section class="footer">
  <div class="footer__container">
    <div class="footer__wrapper">
      <div class="newsletter">
        <div class="newsletter_left">
          <span class="title">Stay Connected with Our Newsletter</span>
          <span class="explain"
            >Subcribe to our newsletter to get more news, promo, or news
            services</span
          >
        </div>

        <form action="" class="newsletter_right">
          <input type="email" placeholder="Enter email address" id="desktop" />
          <input type="email" placeholder="Email address" id="mobile" />
          <button>Subscribe</button>
        </form>
      </div>

      <div class="main">
        <div class="main_left">
          <div class="homepro">
            <img
              src="../assets/icon/homepro_white.svg"
              alt="HomePro"
              class="logo"
            />
            <span class="title">HomePro</span>
          </div>
          <span class="explain"
            >Home Pro is your premier destination for top-notch smart home
            service and repair.</span
          >
          <div class="social_icons">
            <img src="../assets/icon/youtube.svg" alt="youtube" />
            <img src="../assets/icon/instagram.svg" alt="instagram" />
            <img src="../assets/icon/facebook.svg" alt="facebook" />
            <img src="../assets/icon/twitter.svg" alt="twitter" />
            <img src="../assets/icon/mail.svg" alt="mail" />
          </div>
        </div>

        <div class="main_right">
          <include
            src="./components/footerList.html"
            locals='
          {
            "footer":[
            {
              "arr":["Company","About us","Services","Our Blog","Contact"]
            },
            {
              "arr":["Legal","Terms","Privacy","Cookies","Liscense"]
            }
            ]
          }
          '
          ></include>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__last">©2023 HomePro. All rights reserved</div>
</section>
