
<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo">
                <a href="/">
                    <!-- Logo placeholder -->
                    <img src="../assets/icon/homeproo.svg" class="logo-icon"> 
                    <!-- <span class="logo-icon"><img src="../assets/icon/homeproo.svg"></span> -->
                    <span class="logo-text">HomePro</span>
                </a>
            </div>
            
            <nav class="header__nav">
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#blog">Our Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            
            <div class="header__service-hours">
                <!-- Icon placeholder -->
                <span class="service-icon"></span>
                <span class="service-text">24 Hour Services</span>
            </div>
        </div>
    </div>
</header>

