<main>
  <section class="hero">
    <include src="./sections/section1.html"></include>
  </section>

  <section class="banner">
    <include src="./sections/section2.html"></include>
  </section>

  <section class="services">
    <include src="./sections/section3.html"></include>
  </section>

  <section class="fast">
    <include src="./sections/section4.html"></include>
  </section>
  <section class="homepro">
    <include
      src="./sections/section5.html"
      locals='{"list":[{
        "img-bathroom":"bathroom"
        }
        ]}'
    ></include>
  </section>

  <section class="customer">
    <include src="./sections/section6.html"></include>
  </section>
</main>
